.Nav {
    text-align: center;
  }
  
  .Nav-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .Nav-title {
    font-size: 1.5em;
  }
  
  .Nav-intro {
    font-size: large;
  }

  .img-responsive{
    height: 25%;
    width: 100%;
   
  }

  .button {
    background-color: #307daa;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
  background-color: #4e92b9; 
}